body {
	background-image: url("../images/whitediamond.png");
	/*background-color: #9ae3de;*/
}
h1 {
	width: 225px;
	background-color: #d76c00;
	margin: 10px;
	font-size: 30px;
	color: white;
	padding: 20px 0px;
}
#crystal1, #crystal2, #crystal3, #crystal4{
	width: 150px;
	height: 150px;
	background-color: blue;
	float: left;
	border: 2px white solid;
	margin: 10px;
}
#crystal1 {
	background-image: url("../images/orange-crystal.jpeg");
}
#crystal2 {
	background-image: url("../images/purple-crystal.jpeg");
}
#crystal3 {
	background-image: url("../images/green-crystal.jpeg");
}
#crystal4 {
	background-image: url("../images/blue-crystal.jpeg");
}
#crystal {
	clear: both;
}
#instructions {
	width: 370px;
	height: 400px;
	background-color: #fee7ca;
	margin: 10px;
	line-height: 1.5;
	color: #6c986b;
}
#randomNumber {
	width: 150px;
	height: 100px;
	background-color: #00d182;
	float: left;
	margin: 10px;
	font-size: 30px;
	padding: 5px;
	color: #6a0067;
}
#stats {
	float: left;
	width: 150px;
	height: 100px;
	background-color: #00ffff;
	margin: 10px;
	line-height: 2;
	font-size: 20px;
	padding: 5px;
}
#score {
	width: 200px;
	height: 20px;
	background-color: #00a697;
	clear: both;
	margin: 10px;
	color: white;
	font-size: 20px;
	padding: 5px;
}
#total {
	width: 200px;
	height: 100px;
	background-color: #00a697;
	clear: both;
	margin: 10px;
	font-size: 30px;
	padding: 5px;
	color: white;
}