h1 {
	width: 200px;
	height: 100px;
	background-color: orange;
	margin: 10px;
}
#crystal1, #crystal2, #crystal3, #crystal4{
	width: 150px;
	height: 150px;
	background-color: blue;
	float: left;
	border: 2px white solid;
	margin: 10px;
}
#crystal {
	/*float: left;*/
	clear: both;
}
#instructions {
	width: 300px;
	height: 300px;
	background-color: beige;
	margin: 10px;
}
#randomNumber {
	width: 150px;
	height: 100px;
	background-color: green;
	float: left;
	margin: 10px;
}
#stats {
	float: left;
	width: 150px;
	height: 100px;
	background-color: teal;
	margin: 10px;
}
#score {
	width: 150px;
	height: 50px;
	background-color: red;
	/*float: left;*/
	clear: both;
	margin: 10px;
}
#total {
	width: 150px;
	height: 100px;
	background-color: red;
	/*float: left;*/
	clear: both;
	margin: 10px;
}